* {
    box-sizing: border-box;
}

.aside {
    width: 250px;
}

ol {
    min-height: 50vh;
}

span.author {
    color: blue
}

.pagination {
    display: flex;
    border: 1px solid red;
    justify-content: space-between;
}

.next {
    justify-self: flex-end;
    display: flex;
    margin-left: auto;
}