 @import url('https://fonts.googleapis.com/css?family=Srisakdi&subset=latin-ext');
 * {
     margin: 0;
     padding: 0;
     box-sizing: border-box;
 }

 .header {
     height: 80vh;
     background-image: url(../img/house-1920x1278.jpg);
     background-size: cover;
     background-repeat: no-repeat;
     background-attachment: fixed;
     position: relative;

 }

 h1,
 header > p,
 button {
     position: absolute;

 }

 .autor {
     color: red;
     top: 30px;
     left: 20px;
     font-size: 18px;
     text-decoration: underline;
     text-decoration-color: rgba(255, 255, 255, .5);
     opacity: .;
     font-family: Srisakdi;
     position: fixed;


 }

 .h1 {
     color: whitesmoke;
     width: 100vw;
     top: 60%;

     text-transform: uppercase;
     background-color: #0007;
     text-align: center;
     font-size: 36px;
     line-height: 100px;
     letter-spacing: 3px;


 }

 button {
     bottom: 8%;
     right: 5%;
     font-size: 24px;
     padding: 10px;
     background-color: #0007;
     color: snow;
     border: 2px solid white;
     transition: .4s;
 }

 button:hover {
     font-size: 30px;
     background-color: #000;

 }
