.viewControl {
    display: flex;
    justify-content: center;
    padding-top: 10px;

    .currencySelect,
    .monthSelect {
        background-color: rgb(224, 223, 223);
        max-width: 130px;
        border-radius: 2px;
        box-shadow: 0 0 1px 1px rgb(122, 85, 85);
        padding: 4px;
        color: rgb(73, 72, 72);
        font-size: 12px;
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin: 0 5px;

        select {
            padding: 2px;
            background-color: #fff;
            border: none;
            box-shadow: 0 0 0 1px rgb(197, 197, 197);
            border-radius: 3px;
            color: rgb(85, 85, 85);
            font-size: 12px;
            margin-left: 5px;
        }
    }
}