* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}

@media (min-width:920px) {}

.wrapper {
    max-width: 920px;
    margin: 0 auto;
}

.wrapper .booksForm {
    display: flex;
    width: 100%;
    justify-content: center;
    padding: 20px
}

.booksForm .btnSubmit {
    margin-left: 10px;
    background-color: darkcyan;
    border: none;
    color: #fff;
    padding: 8px;
    border-radius: 2px;
    transition: 0.2s;
    cursor: pointer;
}

.booksForm .searchInput {
    color: darkcyan
}

.booksForm .btnSubmit:hover {
    color: darkcyan;
    background-color: #fff;
    box-shadow: 0px 0px 1px 2px
}

.booksWrapper {
    list-style: none;
    box-shadow: 0px 0px 1px red;
    padding: 10px
}

.booksWrapper .book {
    margin-bottom: 50px;
    box-shadow: 0px 0px 3px 2px darkcyan;
    background-color: rgb(235, 235, 235);
}

.book::after,
.book::before {
    display: table;
    content: "";
    clear: both;
}

.img-wrap {
    padding: 10px;
    width: 40%;
    float: left;
}

.img-wrap .bookCover {
    display: block;
    max-width: 100%;
    margin: auto;

}

.bookInfo {
    width: 60%;
    margin-left: auto;
}

.bookInfo .title {
    background-color: rgba(0, 0, 0, 0.6);
    color: #fff;
    padding: 5px;
    font-weight: bold;
    font-size: 32px;
}

.bookInfo .publicationYear {
    padding: 7px;
    background-color: rgba(250, 255, 202, 0.6);

}

.bookInfo .description {
    padding: 0 7px;
    height: 31px;
    line-height: 31px;
    background-color: rgb(243, 255, 223);
    border-top: 1px solid #000;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
}

.bookInfo .authors h3 {
    padding: 7px;
    font-weight: normal;
}

.bookInfo .authors {
    list-style: none;
}

.authors .author {
    padding-left: 15px;
    font-style: italic;
    color: rgb(82, 82, 82)
}


.bookInfo .buyLink {
    display: inline-block;
    margin: 10px 30px;
    background-color: rgb(174, 82, 236);
    border: none;
    color: #fff;
    padding: 8px;
    border-radius: 2px;
    transition: 0.2s;
    text-decoration: none;
}

.bookInfo .buyLink:hover {
    color: rgb(174, 82, 236);
    background-color: #fff;
    box-shadow: 0px 0px 1px 2px
}

@media (min-width:920px) {
    .img-wrap {
        width: 40%;
        float: left;
    }

    .img-wrap .bookCover {
        display: block;
        max-width: 100%;
        height: auto;
    }

    .bookInfo {
        width: 60%;
        margin-left: auto;
    }
}
