body {
    margin: 0;
}

.container {
    position: relative;
    width: 200px;
    height: 257px;
    margin: calc(50vh - 128.5px) auto;
}

.container h1 {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -100%);
    transition: 0.5s;
    text-transform: uppercase;
    z-index: 1;
    color: white;
    opacity: 0;

}

.author {
    width: 100%;
    display: inline-block;
    transition: 0.5s;
}

.img-container::before,
.img-container::after {
    top: 0;
    left: 0;
    position: absolute;
    display: block;
    content: "";
    background-color: rgb(211, 211, 211);
    width: 100%;
    height: 100%;
    transform: rotate(0deg);
    z-index: -1;
    transition: .5s;
}

.img-container::after {
    background-color: rgb(212, 204, 204);
}

.container:hover h1 {
    opacity: 1;
}

.container:hover .img-container::after {
    transform: rotate(-10deg);
}

.container:hover .img-container::before {
    transform: rotate(15deg);
}

.container:hover .author {
    filter: brightness(75%);
}

/* 
 // PYTANIE //
 Czy takie nadpisywanie styli jest dobrym pomyslem? 

.img-container::before,
.img-container::after {
    top: 0;
    left: 0;
    position: absolute;
    display: block;
    content: "";
    background-color: rgb(211, 211, 211);
    width: 100%;
    height: 100%;
    transform: rotate(-12deg);
    z-index: -1;
    opacity: 0;
    transition: .5s;
}

.img-container::after {
    background-color: rgb(212, 204, 204);
    transform: rotate(12deg);
}
///



Czy lepiej to zapisac oddzielnie ? Jak ponizej:


.img-container::before,
.img-container::after {
    top: 0;
    left: 0;
    position: absolute;
    display: block;
    content: "";
    width: 100%;
    height: 100%;
    z-index: -1;
    opacity: 0;
    transition: .5s;
}

.img-container::after {
    background-color: rgb(212, 204, 204);
    transform: rotate(12deg);
}
.img-container::before {
    background-color: rgb(211, 211, 211);
    transform: rotate(-12deg);
}



*/